<h2>Institution</h2>
<ul>
  <% @institutions.each do |institution| %>
    <li><%=link_to institution.name, institution_management.institution_path(institution) %></li>
  <% end %>
</ul>

<% if can? :create, Institution %>
    <%= button_to "Populate All Institutions", institution_management.populate_all_path, method: :get, class: 'btn btn-primary' %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= button_to "Create a new institution", institution_management.new_institution_path, method: :get, class: 'btn btn-danger' %>
<% end %>

